<header>
    <nav>
      <ul>
        <li><a href="#hero">Inicio</a></li>
        <li><a href="#professional-summary">Resumen</a></li>
        <li><a href="#skills">Habilidades</a></li>
        <li><a href="#highlighted-projects">Proyectos</a></li>
        <li><a href="#career">Trayectoria</a></li>
        <li><a href="articulos.html">Artículos</a></li>
        <li><a href="#contact">Contacto</a></li>
        <li>
          <button id="dark-mode-toggle" class="dark-mode-toggle">🌙 Modo Oscuro</button>
        </li>
      </ul>
    </nav>
  </header>